/*
body {
  background: url("../images/Roses1.jpg") repeat;
  background-size: 300px 300px;
} */

/*#homecontainer {
  background: url("../images/HeartsandFlowers-04.png") repeat;
  background-size: 200px 200px;
}
*/

.test-img{border-radius: 50%;}
.test-img-block{
	background:-webkit-linear-gradient( to bottom, #3366ff 0%, #66ccff 100%);
	background:-o-linear-gradient( to bottom, #3366ff 0%, #66ccff 100%);
	background:-moz-linear-gradient( to bottom, #3366ff 0%, #66ccff 100%);
	background:linear-gradient( to bottom, #3366ff 0%, #66ccff 100%);

	border-radius: 15px 15px 0 0;

}

.subheading{
	color: #5A97D8!important;
}

.team{text-align: center;}

.test-heading{color:dodgerblue;}

.test-text{color:dimgray;
         margin-bottom: 15px;
           }
.test-body-block{border:2px solid #66ccff;
             border-radius: 0 0 15px 15px;}
.test-comp{color:brown;}

 body {
   font-family: "Permanent Marker";
   padding: 0px;
 }

.svetcarousel {
  margin-bottom: 10px;
}

.svetcard {
  margin-bottom: 10px;

}

.svetcardheader {
  font-family: "Roboto Slab";
  font-weight: 100;
  background-color: #007bff;
  color: white;
}

.svetcardbody {
  background-color: white;
  color: black;

}

.centeredimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#jumbotron-form{
background: url("../images/RedHeartsFloating.gif") repeat;
background-color: #FDCCD3;
background-size: 280px 280x;
background-attachment: fixed;
margin-bottom: 0px;

}
.light_bg {background:url("../images/HeartsandFlowers-04.png") repeat-x scroll 0 0;}
.bg-light {
    background-color: #FFB6C1!important;
}
.map-example .heading .icon {
  color:#ffb526;
}

.map-example {
  /* margin-top:50px;
  padding-bottom:100px; */
}

.map-example .heading {
  margin-bottom:20px;
  border-bottom:1px solid #e4e4e4;
  padding-bottom:30px;
}

.map-example .info {
  margin-bottom:20px;
  border-bottom:1px solid #e4e4e4;
  padding-bottom:20px;
  color:#636363;
}

.map-example .gallery h4 {
  margin-bottom:30px;
}

.map-example .gallery .image {
  margin-bottom:15px;
  box-shadow:0px 2px 10px rgba(0, 0, 0, 0.15);
}

.map-example #map {
  height: 100%;
  min-height: 300px;
  margin-bottom: 20px;
}

.page-footer {
background-color: #FFB6C1;
margin:auto;
margin-top:auto;
}

.tz-gallery .lightbox img {
  margin-bottom: 0px;
}

#videos{
	margin: 0px;
	padding: 0px;
}

.maincontainer {
	margin-bottom: 30px;
}

.testimonials blockquote {
  position: relative;
  background: white;
  min-height: 150px;
  margin-top: 20px;
  margin-bottom: 80px;
  border: 1px solid #ecedf1;
}
.testimonials blockquote:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  border-top: 10px solid #ecedf1;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.testimonials blockquote:after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -9px;
  border-top: 9px solid white;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}

.testimonials blockquote img {
  height: 50px;
  width: 50px;
  position: absolute;
  border: 1px solid #ecedf1;
  background: white;
  bottom: -65px;
  left: 50%;
  margin-left: -25px;
}

blockquote p.clients-words {
    font-size: 14px;
		padding: 10px;
}
span.clients-name {
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.module > header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  background: inherit;
  background-attachment: fixed;
  overflow: hidden;
}
.module > header::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 200%;
  height: 200%;
  background: inherit;
  background-attachment: fixed;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
.module > header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.60)
}
.module > header > h1 {
  margin: 0;
  color: white;
  position: relative;
  z-index: 1;
}

* {
  box-sizing: border-box;
}

 @media (max-width: 576px) {
  .margin-top-custom {
		margin-top: 20px;
	}
 }

 #navbar-example {
   overflow: hidden;
   background-color: #333;
 }

 #navbar-example a {
   float: left;
   display: block;
   text-align: center;
   padding: 14px;
   text-decoration: none;
 }

 .content {
   padding: 1px;
 }

 .sticky {
   position: fixed;
   top: 0;
   width: 100%;
	 z-index: 99;
 }

 /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
 .sticky + .content {
   padding-top: 40px;
 }
